body{
	font-family: 'Pontano Sans', sans-serif;
}

.landing-title{
	padding: 25px;
	text-align: center;
}

.landing-desc{
	padding-left: 25px;
}

.img{
	text-align: center;
}

/* Styling for tabs */
.tab {
    list-style-type:none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab a {
	float: left;
    display: inline-block;
    color: #9e9e9e;
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition 0.3s;
    font-size: 17px;
}

.tab a.hoverable:hover {
    background-color: #fff;
}

.tab a.hoverable:focus, .active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	border-bottom:none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
